{% extends "base.html" %}
{%block title %} You and me! Together{% endblock %}

{%block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Yen & Hieu</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/gallery">Gallery</a>
						</li>
						<li class="disabled">
							<a href="#">Link</a>
						</li>
						<li class="disabled">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="text-center">
			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle" />
			</div>
		</div>
		<div class="col-md-8">
			<blockquote>
				<p>
					You are the greatest thing that ever came into my life
and I won't let anyone take you away from me.
				</p> <small>Nguyen Trung Hieu</small>
			</blockquote>
		</div>
	</div>
	<div class="row" style="padding: 10px">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="You" src="https://lh3.googleusercontent.com/qRPvUpVBDJ6gdreNc3rjs0KVwCNpeRqO7asQO66xdJE=w371-h659-no" class="img-responsive"/>
						<div class="caption">
							<h3>
								Forever my love
							</h3>
							<p>
								Bung bu dit teo
							</p>
							<p>
								<a class="btn btn-primary" href="/gallery">Gallery</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Milo" src="https://lh3.googleusercontent.com/gtKNzCeeRGLkQG2rEBDFAgRJkkAd20C8U2OD0exre0g=w371-h659-no" class="img-responsive" />
						<div class="caption">
							<h3>
								Milo
							</h3>
							<p>
								Well Well Well! Who do we have here?
							</p>
							<p>
								<a class="btn btn-primary" href="/gallery">Gallery</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Me" src="https://lh3.googleusercontent.com/blMZavPm2SvEvgKVFYfW9tO1MsvOR1OX8D6ASZENz8I=w371-h659-no" class="img-responsive" />
						<div class="caption">
							<h3>
								Me
							</h3>
							<p>
								I will love you until the end of time
							</p>
							<p>
								<a class="btn btn-primary" href="/gallery">Gallery</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://lh3.googleusercontent.com/SPuDKqVxJyD2lFBVOHqj45icuXQuqycnZHDwqSdbnV4=w371-h659-no" class="img-thumbnail" />
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://lh3.googleusercontent.com/2f-ICE23YW1UO7E2bzKWKm1xev3NaBKKnCUtc612uFU=w371-h659-no" class="img-thumbnail" />
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://lh3.googleusercontent.com/W1cuGm_S7UL1App2v9u5Ke8phHjlaK18evDIkhxHsWc=w371-h659-no" class="img-thumbnail" />
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="https://lh3.googleusercontent.com/H2sPKy_O2RUb6XG-HH_PXis_ZAF7bj4gi7SqQaPab_g=w371-h659-no" class="img-thumbnail" />
		</div>
	</div>
	<div class="row" style="padding-top: 10px">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-839617">
				<o	l class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-839617">
					</li>
					<li data-slide-to="1" data-target="#carousel-839617">
					</li>
					<li data-slide-to="2" data-target="#carousel-839617">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" style="width: 100%; height: 10%" src="https://lh3.googleusercontent.com/lwSQzHo7HBTKBYoSog1HxT_cthYkpuMrhxCrQ0Mdwpk=w989-h659-no" />
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" style="width: 100%; height: 10%" src="https://lh3.googleusercontent.com/1gxDEeOkykQ4bAdr1iiyuI7-oyDSd4foblbJ1Yw5qu4=w879-h659-no" />
						<div class="carousel-caption">
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" style="width: 100%; height: 10%" src="https://lh3.googleusercontent.com/n_1Hc2A8BnxpjyK62LaUl5MwzFuq0MJRcPDa04Hr4H0=w879-h659-no" />
						<div class="carousel-caption">
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-839617" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-839617" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<div class="row" style="padding-top: 15px">
		<div class="col-md-4">

		</div>
		<div class="col-md-4">

		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
{% endblock %}
